=begin
#Domain Group API V1

#Provides public access to Domain's microservices

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.9

=end

require 'uri'

module DomainClient
  class StatisticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Record a statistic event along with its associated metadata (if applicable)
    # @param event The event type
    # @param event_meta_data A JSON object dictionary of the metadata associated with the event.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def statistics_post(event, event_meta_data, opts = {})
      statistics_post_with_http_info(event, event_meta_data, opts)
      nil
    end

    # Record a statistic event along with its associated metadata (if applicable)
    # @param event The event type
    # @param event_meta_data A JSON object dictionary of the metadata associated with the event.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def statistics_post_with_http_info(event, event_meta_data, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: StatisticsApi.statistics_post ...'
      end
      # verify the required parameter 'event' is set
      if @api_client.config.client_side_validation && event.nil?
        fail ArgumentError, "Missing the required parameter 'event' when calling StatisticsApi.statistics_post"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['listingViewed', 'listingImageGalleryViewed', 'listingImageViewed', 'listingMapViewed', 'listingVideoViewed', 'listingFloorPlanViewed', 'listingAddedToShortlist', 'listingAgentCalled', 'listingAgentPhoneRevealed', 'listingNotesAdded', 'listingEmailedToAFriend', 'listingEnquirySent', 'loanEventRaised'].include?(event)
        fail ArgumentError, "invalid value for 'event', must be one of listingViewed, listingImageGalleryViewed, listingImageViewed, listingMapViewed, listingVideoViewed, listingFloorPlanViewed, listingAddedToShortlist, listingAgentCalled, listingAgentPhoneRevealed, listingNotesAdded, listingEmailedToAFriend, listingEnquirySent, loanEventRaised"
      end
      # verify the required parameter 'event_meta_data' is set
      if @api_client.config.client_side_validation && event_meta_data.nil?
        fail ArgumentError, "Missing the required parameter 'event_meta_data' when calling StatisticsApi.statistics_post"
      end
      # resource path
      local_var_path = '/v1/statistics/{event}'.sub('{' + 'event' + '}', event.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'text/html', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(event_meta_data)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatisticsApi#statistics_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
