=begin
#Domain Group API V1

#Provides public access to Domain's microservices

OpenAPI spec version: v1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.9

=end

require 'uri'

module DomainClient
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Creates a subscription
    # @param id Webhook identifier
    # @param subscription Subscription data
    # @param [Hash] opts the optional parameters
    # @return [DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription]
    def webhooks_create_subscription(id, subscription, opts = {})
      data, _status_code, _headers = webhooks_create_subscription_with_http_info(id, subscription, opts)
      data
    end

    # Creates a subscription
    # @param id Webhook identifier
    # @param subscription Subscription data
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription, Fixnum, Hash)>] DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription data, response status code and response headers
    def webhooks_create_subscription_with_http_info(id, subscription, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhooks_create_subscription ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhooks_create_subscription"
      end
      # verify the required parameter 'subscription' is set
      if @api_client.config.client_side_validation && subscription.nil?
        fail ArgumentError, "Missing the required parameter 'subscription' when calling WebhooksApi.webhooks_create_subscription"
      end
      # resource path
      local_var_path = '/v1/webhooks/{id}/subscriptions'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml', 'application/x-www-form-urlencoded'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(subscription)
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhooks_create_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Deletes a webhook subscription
    # @param id Subscription identifier
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def webhooks_delete_subscription(id, opts = {})
      webhooks_delete_subscription_with_http_info(id, opts)
      nil
    end

    # Deletes a webhook subscription
    # @param id Subscription identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def webhooks_delete_subscription_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhooks_delete_subscription ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhooks_delete_subscription"
      end
      # resource path
      local_var_path = '/v1/subscriptions/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhooks_delete_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retrieves a webhook subscription
    # @param id Subscription identifier
    # @param [Hash] opts the optional parameters
    # @return [DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription]
    def webhooks_get_subscription(id, opts = {})
      data, _status_code, _headers = webhooks_get_subscription_with_http_info(id, opts)
      data
    end

    # Retrieves a webhook subscription
    # @param id Subscription identifier
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription, Fixnum, Hash)>] DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription data, response status code and response headers
    def webhooks_get_subscription_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhooks_get_subscription ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhooks_get_subscription"
      end
      # resource path
      local_var_path = '/v1/subscriptions/{id}'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhooks_get_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Retreives all webhook subscriptions
    # @param id Subscriber (Webhook) ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_number 
    # @option opts [Integer] :page_size 
    # @return [Array<DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription>]
    def webhooks_list_subscriptions(id, opts = {})
      data, _status_code, _headers = webhooks_list_subscriptions_with_http_info(id, opts)
      data
    end

    # Retreives all webhook subscriptions
    # @param id Subscriber (Webhook) ID
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page_number 
    # @option opts [Integer] :page_size 
    # @return [Array<(Array<DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription>, Fixnum, Hash)>] Array<DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription> data, response status code and response headers
    def webhooks_list_subscriptions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.webhooks_list_subscriptions ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.webhooks_list_subscriptions"
      end
      # resource path
      local_var_path = '/v1/webhooks/{id}/subscriptions'.sub('{' + 'id' + '}', id.to_s)

      # query parameters
      query_params = {}
      query_params[:'pageNumber'] = opts[:'page_number'] if !opts[:'page_number'].nil?
      query_params[:'pageSize'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html', 'application/xml', 'text/xml'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['oauth2']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<DomainPublicAdapterWebApiModelsV1SubscriptionsSubscription>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#webhooks_list_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
